<!-- <div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <button class="close-modal" (click)="closeModal()">&times;</button>
    <div [innerHTML]="htmlContent"></div>
  </div>
</div> -->

<!-- <div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50">
  <div class="bg-black text-white max-w-3xl mx-auto p-6 rounded-md overflow-auto">
    <button class="absolute top-4 right-4 text-white hover:text-gray-300" (click)="closeModal()">✖</button>
    <div [innerHTML]="htmlContent" class="prose prose-invert"></div>
  </div>
</div> -->

<!-- <div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50">
  <div class="bg-black text-white w-11/12 md:w-3/4 lg:w-2/3 max-w-5xl mx-auto p-6 rounded-md overflow-auto relative">
    <button class="absolute top-4 right-4 text-white hover:text-gray-300" (click)="closeModal()">✖</button>
    <div [innerHTML]="htmlContent" class="prose prose-invert"></div>
  </div>
</div> -->
<!--
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50">
  <div class="bg-black text-white w-11/12 md:w-3/4 lg:w-2/3 max-w-5xl mx-auto p-6 rounded-md overflow-auto relative">
    <button class="absolute top-4 right-4 text-white hover:text-gray-300" (click)="closeModal()">✖</button>
    <div [innerHTML]="htmlContent" class="prose prose-invert prose-lg"></div>
  </div>
</div> -->

<!-- <div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50">
  <div class="bg-black text-white w-11/12 md:w-2/3 lg:w-1/2 max-w-2xl p-6 rounded-md overflow-y-auto max-h-screen relative">
    <button class="absolute top-4 right-4 text-white hover:text-gray-300" (click)="closeModal()">✖</button>
    <div [innerHTML]="htmlContent" class="prose prose-invert prose-lg"></div>
  </div>
</div> -->

<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50">
  <div class="bg-black text-white max-w-screen h-4/5 p-6 rounded-md overflow-y-auto relative">
    <button class="absolute top-4 right-4 text-white hover:text-gray-300" (click)="closeModal()">✖</button>
    <div [innerHTML]="htmlContent" class="prose prose-invert prose-lg"></div>
  </div>
</div>
