<app-nav-bar></app-nav-bar>

<div class="page-content">
    <!-- Page content here, including the sections with IDs -->
    <app-about-section id="about-section"></app-about-section>
  
    <app-projects-section id="projects-section"></app-projects-section>

    <app-experiences-section id="experiences-section"></app-experiences-section>

    <app-skills-section id="skills-section"></app-skills-section>

    <app-education-section id="education-section"></app-education-section>

    <app-contact-section id="contact-section"></app-contact-section>
</div>