<app-nav-bar></app-nav-bar>

<app-home-section id="home-section"></app-home-section>

<div class="bg-gray-700">
    <app-about-section id="about-section"  [about]="data.about"></app-about-section>

    <app-skills-section id="skills-section" [skills]="data.skills"></app-skills-section>

    <app-experiences-section id="experiences-section" [experiences]="data.experiences"></app-experiences-section>

    <app-projects-section id="projects-section" [projects]="data.projects"></app-projects-section>

    <app-education-section id="education-section" [educations]="data.educations" [awards]="data.awards" [publications]="data.publications"></app-education-section>

    <app-contact-section id="contact-section" [contacts]="data.contacts"></app-contact-section>
</div>
<app-footer></app-footer>
