<app-nav-bar></app-nav-bar>

<app-home-section id="home-section" class="flex justify-between items-center h-screen bg-[url(/assets/background.JPG)] bg-cover bg-center"></app-home-section>

<div class="bg-gray-700">
    <app-about-section id="about-section"  [description]="data.about"></app-about-section>

    <app-skills-section id="skills-section" [skills]="data.skills"></app-skills-section>

    <app-projects-section id="projects-section" [projects]="data.projects"></app-projects-section>

    <app-experiences-section id="experiences-section" [experiences]="data.experiences"></app-experiences-section>

    <app-education-section id="education-section" [educations]="data.educations"></app-education-section>

    <app-contact-section id="contact-section" [contacts]="data.contacts"></app-contact-section>
</div>