<section class="p-20 flex flex-col items-center justify-center bg-gray-700 text-white">
  <div class="text-center">
    <h2 class="text-3xl font-bold mb-4">About Me</h2>
    <div class="max-w-3xl mx-auto">
      <p class="text-lg leading-relaxed mb-4">{{ about.description }}</p>
    </div>
    <div class="flex justify-center items-center space-x-4 mt-4">
      <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" (click)="openResume(about.resume)">Resume</button>
      <a [href]="about.github" target="_blank" class="text-gray-500 hover:text-gray-600">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a [href]="about.linkedin" target="_blank" class="text-blue-500 hover:text-blue-600">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </div>
  </div>
</section>
