<section class="p-8 bg-gray-700 text-white">
  <div class="container max-w-screen-md mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8 mt-8">Education</h2>
    <div class="mx-auto">
      <div
        [ngClass]="{ 'bg-gray-900': true, 'hover:bg-gray-800': edu.markdownFile, 'cursor-pointer': edu.markdownFile, 'cursor-default': !edu.markdownFile }"
        class="p-4 rounded-md mb-4 flex items-center"
        *ngFor="let edu of educations"
        (click)="edu.markdownFile ? openMarkdownModal(edu.markdownFile) : null">

        <div class="flex-shrink-0 mr-4 px-3">
          <img *ngIf="edu.logoUrl" [src]="edu.logoUrl" alt="{{ edu.institution }} logo" class="h-20 w-20 rounded-md">
        </div>

        <div class="text-justify">
          <h3 class="text-xl font-semibold mb-2">{{ edu.degree }}</h3>
          <p class="text-base mb-2">{{ edu.institution }} - {{ edu.received }}</p>
          <p class="text-base">{{ edu.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-markdown-modal #markdownModal></app-markdown-modal>
