<section class="home-section relative h-screen bg-cover bg-center" style="background-image: url('assets/background.JPG'); background-attachment: fixed;">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-700 via-transparent top-1/2"></div>
    <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2">
        <a href="#about-section" class="text-white hover:text-blue-500">
            <i class="fas fa-chevron-down text-4xl animate-bounce"></i>
        </a>
    </div>
</section>